.idea
.env

**/debian/ductn.substvars
**/debian/debhelper-build-stamp
**/debian/files
**/debian/patches
**/debian/ductn
**/debian/.debhelper
**/.pc

# **/*_amd64.build
# **/*_amd64.buildinfo

composer.lock
