Source: ductn
Section: devel
Priority: optional
Maintainer: Tran Ngoc Duc <ductn@diepxuan.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.0.1ppa1

Package: ductn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, jq, curl, bash-completion
Description: Ductn super package
